[user]
	email = cody@reichertbrothers.com
	name = Cody Reichert
[core]
        editor="emacs -nw"
        excludesfile=~/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
