[user]
  email = cody@reichertbrothers.com
  name = Cody Reichert
[core]
        editor="emacs -nw"
        excludesfile=~/.gitignore_global
[alias]
  s = status
  ss = stash push
  sp = stash pop
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
