# Scripts that should be ignored
scripts/.scripts/.mailauth
scripts/.scripts/mailcount
scripts/.scripts/pgdevdb*
scripts/.scripts/packer

# Emacs files that should be ignored
emacs/.emacs.d/session.*
emacs/.emacs.d/elpa
emacs/.emacs.d/.private.el
emacs/.emacs.d/tramp
emacs/.emacs.d/network-security.data
emacs/.emacs.d/projectile-bookmarks*
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/*.dat
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/to-be-dumped.el
emacs/.emacs.d/recentf
emacs/.emacs.d/emojis
emacs/.emacs.d/transient
emacs/.emacs.d/var
emacs/.emacs.d/places

# Files written by MPD that should be ignored
mpd/.mpd/database
mpd/.mpd/state
mpd/.mpd/pid
mpd.log
sticker.sql

.\#.*

# Terminator plugins
terminator/**/plugins
