[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git://github.com/CodyReichert/lain.git

[submodule "vimperator/.vimperator/colors"]
	path = vimperator/.vimperator/colors
	url = https://github.com/vimpr/vimperator-colors
[submodule "awesome/.config/awesome/awesompd"]
	path = awesome/.config/awesome/awesompd
	url = https://github.com/alexander-yakushev/awesompd
[submodule "vimperator/.vimperator/plugin/smoozy"]
	path = vimperator/.vimperator/plugin/smoozy
	url = git://github.com/yuttie/smoozy.js
[submodule "emacs/.emacs.d/es6-snippets"]
	path = emacs/.emacs.d/es6-snippets
	url = git@github.com:CodyReichert/es6-snippets
[submodule "emacs/.emacs.d/circe-notifications"]
	path = emacs/.emacs.d/circe-notifications
	url = git@github.com:codyreichert/circe-notifications
[submodule "emacs/.emacs.d/wp-readme-mode"]
	path = emacs/.emacs.d/wp-readme-mode
	url = git@github.com:codyreichert/wp-readme-mode
