[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git://github.com/copycat-killer/lain.git

[submodule "awesome/.config/awesome/awesompd"]
	path = awesome/.config/awesome/awesompd
        url = https://github.com/alexander-yakushev/awesompd

[submodule "vimperator/.vimperator/colors"]
	path = vimperator/.vimperator/colors
	url = https://github.com/vimpr/vimperator-colors
