* {
  font-size: 1rem;
  font-family: monospace;
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk {
  background: #1a1a1a;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#temperature {
  color: #859900;
}
#disk {
  color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk {
  padding: 0 10px;
}

#custom-homeassistant,
#pulseaudio-slider {
    background-color: #1a1a1a;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    background-color: green;
}

#tray menu {
    color: white;
}
