/* Base 16 theme colors */
@define-color base00 #0a0a0f;
@define-color base01 #0a0a0f;
@define-color base02 #080432;
@define-color base03 #6e7179;
@define-color base04 #1e1e23;
@define-color base05 #d3dae3;
@define-color base06 #b7b7b2;
@define-color base07 #d3dae3;
@define-color base08 #8c6e5c;
@define-color base09 #467900;
@define-color base0A #6d7f00;
@define-color base0B #1e9500;
@define-color base0C #009b8c;
@define-color base0D #2285e2;
@define-color base0E #746ae2;
@define-color base0F #555f1a;
@define-color base0G #B000B0;

* {
  font-size: 12px;
  font-family: monospace;
}

window#waybar {
  background: @base04;
  color: @base05;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: @base00;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: @base04;
  background: @base00;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk,
#custom-gpu,
#custom-homeassistant,
#pulseaudio-slider {
  background: @base00;
}

/** Application launchers */
#custom-chrome-launcher,
#custom-hass-launcher,
#custom-spotify-launcher,
#custom-hyprpicker-launcher {
  background: @base00;
}

#custom-hyprpicker-launcher {
    margin-left: -2px;
    padding-right: 8px;
}

#workspaces button {
  padding: 0 5px 0px 5px;
  color: @base05;
}
#workspaces button.active,
#workspaces button.focused {
  color: @base0D;
}
#workspaces button:hover {
  color: @base03;
}

#pulseaudio {
  color: @base0B;
}
#memory {
  color: @base0D;
}
#cpu {
  color: @base0E;
}
#temperature {
  color: @base0A;
}
#disk {
  color: @base08;
}
#custom-gpu {
  color: @base0G;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk,
#custom-gpu {
  padding: 0 8px;
}

#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    box-shadow: none;
    background-color: @base03;
    min-width: 10px;
}
#pulseaudio-slider trough {
    min-width: 75px;
    background-color: @base03;
    margin-right: 10px;
    min-height: 2px;
}
#pulseaudio-slider highlight {
    background-color: @base0B;
}
